.container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Roboto-Thin";
}

.valueContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.value {
  font-size: 10vh;
  text-align: center;
}

.divider {
  font-size: 4vh;
  text-align: center;
  position: relative;
  top: 2vh;
}

.numberOfVoters {
  position: absolute;
  bottom: 2vh;
  left: 2vh;
}
